name: Deploy to DigitalOcean Droplet
"on":
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          key: ${{secrets.KEY}}
          script: |
            cd /apps/MERN-Full-Stack-Pet-Adoption-App/
            git pull
            pm2 restart server
            echo 'Deployment to digital ocean finished'
